@attribute [Authorize]
@page "/bank-account"
@inherits BankAccountsBase
<InfoTab></InfoTab>
<div class="main-content top-setting">
    @if (IsSpinner)
    {
        <div class="spinner"> </div>
    }
    <div class="setting-item">
        <div class="flex-row">
            <div class="flex-col  col-Padding text-align-end">
                <img onclick="@(()=>OnAdd())" class="button-image" src="_content/SharedComponent/images/add.png" alt="" />
            </div>
        </div>
        <Virtualize Items="BankAccountDetails" Context="cat" OverscanCount="20">
                   <div class="bottom-line">
                       <div class="flex-table">
                           <div class="flex-table-col">
                               <div class="flex-col col-Padding">
                                   @cat.Name
                               </div>
                               <div class="flex-col col-Padding">
                                   @cat.Account
                               </div>
                           </div>
                           <div class="flex-table-col">
                               <div  class="flex-col  col-Padding ">
                            <img onclick="@(() => OnEdit(cat))" class="button-image" src="_content/SharedComponent/images/edit.png" alt="" />
                        </div>
                           </div>
                       </div>
                       </div>             
            </Virtualize>
    </div>
</div>