@attribute [Authorize]
@page "/maps"
@using Microsoft.AspNetCore.Components
@inherits MapRouteBase
<div class="main-content top">
    @if (IsSpinner)
    {
        <div class="spinner"> </div>
    }
    <div class="content-item">
        <div class="flex-row">
            @if (SessionStore.Location != null)
            {
                <div class="flex-col  col-Padding">
                    @SessionStore.Location.PatientName
                </div>     
                <div class="flex-col  col-Padding">
                    @SessionStore.Location.SampleNumber
                </div>    
            }
            <div  class="flex-col  col-Padding ">
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col col-Padding">
                Is Sample Taken <RadzenCheckBox TValue="bool" @bind-Value="Model!.IsSampleTaken" style="padding-left: 10px"></RadzenCheckBox>
            </div>
            <div class="flex-col col-Padding">
                <span class="between-text-button" onclick="@OnDetail"> <img class="text-with-button" src="_content/SharedComponent/images/show.png" alt=""/>Detail</span>
            </div>
            <div class="flex-col col-Padding">
                <span class="between-text-primary" onclick="@OnSubmit"> <img class="text-with-button" src="_content/SharedComponent/images/check.png" alt=""/>Submit</span>
            </div>
        </div>
        <div id="map" style="height: 80vh;width: 100%">
        </div>
    </div>
</div>