@using SharedComponent.Pages.Settings.Tests;
@inherits LabTestListBase

@if (IsSpinner)
{
    <div class="spinner"> </div>
}
    @if(LabTestDetails !=null)
    {
        @foreach (var test in LabTestDetails)
            {
                <div class="flex-table">
                    <div class="flex-col col-Padding">
                        @test.Name
                    </div>
                    <div class="flex-table-col">
                        <div  class="flex-col  col-Padding ">
                    <img onclick="@(() => OnEdit(test))" class="button-image" src="_content/SharedComponent/images/edit.png" alt="" />
                        </div>
                        <AuthorizeView Roles="administrator">
                            <div  class="flex-col  col-Padding ">
                        <img onclick="@(() => OnDelete(test.Id))" class="button-image" src="_content/SharedComponent/images/delete.png" alt="" />
                            </div>
                        </AuthorizeView>
                    </div>
                </div>     
            }
    }
