@attribute [Authorize]
@page "/sample-type"
@inherits SampleTypesBase
<SettingTab></SettingTab>
<div class="main-content top-setting">
<div class="setting-item">
    <div class="flex-row">
        <div class="flex-col  col-Padding text-align-end">
                <img onclick="@(()=>OnAdd())" class="button-image" src="_content/SharedComponent/images/add.png" alt="" />
        </div>
    </div>
        @if (IsSpinner)
        {
            <div class="spinner"> </div>
        }
    @if(SampleTypeDetails !=null)
    {
        <Virtualize Items="SampleTypeDetails" Context="sample" OverscanCount="20">
            <div class="bottom-line">
                <div class="flex-table">
                    <div class="flex-col col-Padding">
                        @sample!.Name
                    </div>
                    <div class="flex-table-col">
                        <div class="flex-col  col-Padding ">
                                <img onclick="@(() => OnEdit(sample))" class="button-image" src="_content/SharedComponent/images/edit.png" alt="" />
                        </div>
                        <AuthorizeView Roles="administrator">
                            <div  class="flex-col  col-Padding ">
                                    <img onclick="@(() => OnDelete(sample.Id))" class="button-image" src="_content/SharedComponent/images/delete.png" alt="" />
                            </div>
                        </AuthorizeView>
                    </div>            
                </div>
                </div>            
        </Virtualize>
    }
</div>
</div>