@using Web.UI.Server.Models.Categories
@inherits CreateCategoryBase
<RadzenTemplateForm TItem="Category" Data="model" Submit="@OnSave">
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Name</div>
            <RadzenTextBox Name="name" @bind-Value="model.Name" Style="width: 100%;"></RadzenTextBox>
            <div class="flex-row">
                <div class="flex-col col-Padding">
                    <RadzenRequiredValidator Component="name" Text="Name is required"></RadzenRequiredValidator>
                </div>
            </div>
        </div>
    </div>
        <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Lab</RadzenText>
            <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@labs @bind-Value=@model.LabId
                            TextProperty="Name" ValueProperty="Id"  Style="width: 100%;"/>
        </div>
        </div>
    <div class="flex-row">
                <div class="flex-col">
                    <RadzenButton ButtonType="ButtonType.Reset" Text="Reset" ButtonStyle="ButtonStyle.Danger" Click="OnReset"></RadzenButton>
                </div>
        <div class="flex-col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" ButtonStyle="ButtonStyle.Success"></RadzenButton>
        </div>
    </div>

</RadzenTemplateForm>