@attribute [Authorize]
@page "/change-password"
@using Health.Mobile.Server.Models.Security
@using Microsoft.AspNetCore.Components
@inherits ChangePasswordBase
<div class="main-content top-setting">
<div class="setting-item">
    <RadzenTemplateForm TItem="ChangePasswordModel" Data="Model" Submit="@(()=>OnSubmit())">
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="label">User Name</div>
                <RadzenTextBox  @bind-Value="Model.UserName" Style="width: 100%;" Disabled="true"></RadzenTextBox>
            </div>
        </div>

        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="label">Old Password</div>
                <RadzenTextBox type="password" Name="oldPassword" @bind-Value="Model.OldPassword" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="oldPassword" Text="Old Password is required"></RadzenRequiredValidator>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenLengthValidator Component="oldPassword" Min="4" Text="Password is at least 4 character " ></RadzenLengthValidator>
                    </div>
                </div>
            </div>
        </div>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <div class="label">New Password</div>
                        <RadzenTextBox type="password" Name="newPassword" @bind-Value="Model.NewPassword" Style="width: 100%;"></RadzenTextBox>
                        <div class="flex-row">
                            <div class="flex-col col-Padding">
                                <RadzenRequiredValidator Component="newPassword" Text="New Password is required"></RadzenRequiredValidator>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-col col-Padding">
                                <RadzenLengthValidator Component="newPassword" Min="4" Text="Password is at least 4 character " ></RadzenLengthValidator>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="flex-row">
            <div class="flex-col col-Padding text-align-end">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" ButtonStyle="ButtonStyle.Success"></RadzenButton>
            </div>
        </div>
        
    </RadzenTemplateForm>
</div>
</div>