@attribute [Authorize]
@page "/tube-type"
@inherits TubeTypesBase
<SettingTab></SettingTab>
<div class="main-content top-setting">
<div class="setting-item">
    <div class="flex-row">
        <div class="flex-col  col-Padding text-align-end">
                <img onclick="@(()=>OnAdd())" class="button-image" src="_content/SharedComponent/images/add.png" alt="" />
        </div>
    </div>
        @if (IsSpinner)
        {
            <div class="spinner"> </div>
        }
    @if(TubeDetails !=null)
    {
        <Virtualize Items="TubeDetails" Context="tubeType" OverscanCount="20">
            <div class="bottom-line">
                <div class="flex-table">
                    <div class="flex-col col-Padding">
                        @tubeType!.Name
                    </div>
                    <div class="flex-table-col">
                        <div class="flex-col  col-Padding ">
                                <img onclick="@(() => OnEdit(tubeType))" class="button-image" src="_content/SharedComponent/images/edit.png" alt="" />
                        </div>
                        <AuthorizeView Roles="administrator">
                            <div class="flex-col  col-Padding ">
                                    <img onclick="@(() => OnDelete(tubeType.Id))" class="button-image" src="_content/SharedComponent/images/delete.png" alt="" />
                            </div>
                        </AuthorizeView>
                    </div>        
                </div>
                </div>            
        </Virtualize>
    }
    </div>
</div>