@inherits ApproveDraftBase
<div class="main-content">
<div class="setting-item">
    <div class="flex-row">
        <div class="flex-col col-Padding ">
            <div class="label">Name: @SelectedTestDetail.Name</div>
        </div>
        <div class="flex-col col-Padding text-align-end">
            <span class="between-text-primary" onclick="@OnApprove"> <img class="text-with-button" src="_content/RazorShared/images/approve.png" alt=""/>Approve</span>
        </div>
    </div>
</div>
</div>