@page "/user-branch"
@inherits BranchListBase
<AccountTab></AccountTab>
<div class="main-content top-setting">
    <div class="setting-item">
    <div class="flex-row">
        <div onclick="@OnAdd" class="flex-col  col-Padding text-align-end">
            <img class="button-image" src="_content/RazorShared/images/add.png" alt=""/>
        </div>
    </div>
    @if(BranchDetails !=null)
    {
        <Virtualize Items="BranchDetails" Context="branch" OverscanCount="20">
          <div class="bottom-line">
              <div class="flex-table">
                  <div class="flex-col col-Padding">
                      @branch.Name
                  </div>
                  <div class="flex-table-col">
                      <div onclick="@(() => OnEdit(branch))" class="flex-col  col-Padding ">
                          <img class="button-image" src="_content/RazorShared/images/edit.png" alt=""/>
                      </div>
                      <div onclick="@(() => OnDelete(branch.Id!))" class="flex-col  col-Padding ">
                          <img class="button-image" src="_content/RazorShared/images/delete.png" alt=""/>
                      </div>
                  </div>           
              </div>
              </div>            
        </Virtualize>
    }
    </div>
    </div>