* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.25;
    overscroll-behavior: none;
}

.main-container {
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
}

.main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    background-color: var(--grey-pale);

}
.content-item {
    width: 100%;
    background-color: var(--white);
    margin-bottom: 4px;
}
.setting-item {
    width: 100%;
    background-color: var(--white);
}
.top {
    margin-top: 117px;
}
.top-setting {
    margin-top: 117px;
}
.title {
    font-weight: 700;
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-title {
    font-weight: 700;
    line-height: 2.35;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
}
.category {
    font-weight: 700;
    line-height: 3;
}
.label {
    line-height: 1.35;
}


.text {
    line-height: 5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button {
    line-height: 5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rectangle-border {
    border: 1px solid var(--grey-pale);
}
.bottom-line {
    border-bottom: 1px solid var(--grey-pale);
}
.col-Padding {
    padding: 5px 5px 5px 10px
}

.margin {
    margin: 2px 2px 5px 4px;
}
.m-top {
  margin-top:  2px
}
.m-right {
    margin-right:2px;
}
.m-bottom {
    margin-bottom:10px;
}
.m-left {
    margin-left: 4px;
}
.main-header {
    height: 72px;
    width: 100%;
    color: var(--black);
    position: fixed;
    background-color: #c2e7ff;
}
.main-header::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.sub-header {
    top: 70px;
    width: 100%;
    position: fixed;
}
.flex-row {
    display: flex;
    padding-left: 5px;
    flex-wrap: wrap;
}
.flex-table {
    display: flex;
    padding-left: 5px;
    flex-wrap: wrap;
}

.flex-row-header {
    display: flex;
    padding-left: 5px;

}

.flex-col {
    flex: 1;
    font-size: 15px;
}
.flex-table-col {
    display: flex;
    flex: 1;
    font-size: 15px;
}

.flex-grow {
    flex-grow: 8;
    font-size: 15px;

}

.flex-grow-1 {
    flex-grow: 1;
    font-size: 15px;
}

.search-box {
    width: 60%;
}

.main-tab {
    position: sticky;
    margin-top: 15px;

}

.main-tab-item {
    position: inherit;
    padding: 3px 6px 0;
    text-align: center;
    margin-left: 3px;
    white-space: nowrap;
    /* border: 1px solid var(--grey-pale); */
    /* border-bottom: 1px var(--grey-dark); */
    font-weight: 600;
    line-height: 20px;
    color: var(--black);
}
.main-tab-item::-webkit-scrollbar {
    display: none;
}
.main-tab-text {
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--black);
    font-size: 15px;
    line-height: 18px;
    align-self: center;
    max-width: 100%;
    font-weight: 700;
}
.sub-main-tab-text {
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--black);
    font-size: 15px;
    line-height: 18px;
    align-self: center;
    max-width: 100%;
    font-weight: 700;
}
.main-tab-text:hover{
    border-bottom: 5px solid #0b57d0;
    color: #0b57d0;
}
.main-tab-text-active {
    border-bottom: 5px solid #0b57d0;
    color: #0b57d0;
}


.logo-image {
    width: 25px;
    height: 25px;
    padding-right: 5px;
    
}
.button-image {
    width: 40px;
    height: 30px;
    padding-right: 5px;
}
.button-remove {
    width: 40px;
    height: 30px;
    padding-right: 5px;
    text-align: center;
    margin-top: 17px;
}
.primary-button {
    text-align: center;
    background-color: var(--latest-blue);
    padding: 2px 10px 4px;
    border-radius: 20px;
    color: white;
}
.arrow {
    width: 24px;
    height: 24px;
    align-self: center;
    margin-right: 13px;
    margin-left: 10px;
    background: url(../image/arrow-right.svg) no-repeat;
}
.up
{
    transform: rotate(90deg);
}
.down
{
    transform: rotate(270deg);
}
.button-default {
    background-color: var(--grey-pale);
    border: none;
}

.button-primary {
    background-color: var(--green);
    border: none;
}

.button-delete {
    background-color: var(--red-dark);
    border: none;
}

.tab-count {
    width: 23px;
    height: 30px;
    color: var(--red);
    position: absolute;
    left: 22px;
    text-align: right;
    top: -5px;
    font-size: 16px;
}

.rz-button.rz-success.rz-shade-default {
    background-color: var(--latest-blue);
}
.rz-button.rz-primary.rz-shade-default {
    background-color: var(--green);
    margin-right: 28px;
    margin-bottom: 5px;
}
.rz-button.rz-warning.rz-shade-default {
    background-color: var(--red);
}
.sub-main-tab {
    position: sticky;
    z-index: 1;
    margin-top: 15px;
}
.main-tab-items {
    display: flex;
    overflow: auto;
}
.sub-main-tab-items {
    display: flex;
    overflow: auto;
}
.sub-main-tab-item {
    position: inherit;
    margin-right: 5px;
    padding: 5px 20px;
    text-align: center;
    margin-left: 3px;
    white-space: nowrap;
    border-radius: 7px;
    /* border: 1px solid var(--grey-pale); */
    /* border-bottom: 1px var(--grey-dark); */
    font-weight: 600;
    line-height: 20px;
    color: var(--black);
    background-color: var(--grey1);
}
.button-item {
    position: inherit;
    margin-right: 5px;
    padding: 5px 20px;
    text-align: center;
    margin-left: 3px;
    white-space: nowrap;
    border-radius: 7px;
    /* border: 1px solid var(--grey-pale); */
    /* border-bottom: 1px var(--grey-dark); */
    font-weight: 600;
    line-height: 20px;
    color: var(--black);
    background-color: var(--grey1);
}
.sub-main-tab-item-active {
    background-color: var(--blue-steel);
}
.button-item:hover {
    background-color: var(--blue-steel); 
}

.sub-main-tab-item:hover {
    background-color: var(--blue-steel);
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.footer-nav {
    color: #212121;
    background: #f7f7f7;
    bottom: 0;
    height: 48px;
    width: 100%;
    position: fixed;
    box-shadow: 0 -1px 2px 0 #d6d6d6;
    display: table;
    z-index: 63;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell {
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
}

.tabs-section-background {
    background-color: #eee
}

.tb-icon {
    position: relative;
    width: 20%;
    background-repeat: no-repeat;
    background-position: center 5px;
    background-size: auto 25px;
    min-width: 64px;
    white-space: nowrap;
    height: 47px;
    text-align: center;
}

.editor-btn-badge {
    color: var(--white);
    line-height: 10px;
    top: 0;
    position: absolute;
    display: inline-block;
    pointer-events: none;
}

.editor-btn-badge-red-circle {
    font-size: 13px;
    padding: 3px;
    background-color: var(--red);
    border-radius: 10px;
    border: 1px solid var(--grey-snow);
    min-width: 18px;
    min-height: 18px;
    max-height: 18px;
}
.data-binding {
    color: white;
}
.footer-title {
    color: var(--sea-green);
    vertical-align: middle;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 11px;
    padding-left: 0;
    padding-top: 32px;

}
.foot-icon {
    margin: auto;
    top: 1px;
    width: 30px;
    height: 30px;
    padding-top: 1px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.text-align-center {
    text-align: center;
}
.text-align-end {
    text-align: end;
}
.input-group {
    padding-left: 20px;
    width: 90%;
}
.submit-button {
    padding: 6px 5px 6px 5px;
    background-color: var(--latest-blue);
    border-radius: 10px;
    color: white;
    width: 40%;
    font-size: 15px;
    font-weight: 700;
    /* align-items: center; */
    text-align: center;
}
@media screen and (max-device-width: 615px) {
    .main-tab-text {
        font-size: 15px;
    }
    .flex-table{
        flex-direction:column;
    }

        body {
            font-size: clamp(16px, 4.45vw, 18px);
        }
}

:root {
    --green: #50aa55;
    --sea-green: #128c7e;
    --red: #c8102e;
    --blue-steel: #4396b3;
    --black: #212121;
    --black-rgb: 33, 33, 33;
    --dark: #1c1c1c;
    --darker: #151515;
    --grey: #828282;
    --grey1: #ccc;
    --orange: #e77312;
    --charcoal: #252a31;
    --casino-charcoal-dark: Infinity;
    --mysino-charcoal: #151515;
    --mysino-charcoal-light: #202020;
    --grey-shadow: #3a3a3a;
    --grey-charcoal: #454545;
    --grey-dark: #4e4e4e;
    --grey-ash: #9d9d9d;
    --grey-steel: #b3b3b3;
    --grey-silver: #cacaca;
    --grey-pale: #dedede;
    --grey-iron: #e6e7e8;
    --grey-smoke: #ebebeb;
    --grey-faded: #d8d8d8;
    --grey-cloud: #f0f0f0;
    --grey-snow: #f7f7f7;
    --grey-light: #717171;
    --grey-not-so-light: #f2f2f2;
    --grey-hawkes: #dedfe1;
    --grey-mine-shaft: #252525;
    --grey-night: #292929;
    --grey-darker: #909090;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --white-pale: #fbfbfb;
    --blue-dark: #39697a;
    --blue: #4d90a7;
    --blue-rgb: 57, 105, 122;
    --blue-light: #a5d2e1;
    --yellow-dark: #e2b504;
    --yellow: #eeca3d;
    --red-dark: #920c22;
    --gray-dark: #eee;
    --red-brick: #c23b21;
    --green-dark: #1e7b43;
    --green-light: #4ea635;
    --gamboge: #e29d36;
    --white-semi-transparent: rgba(255, 255, 255, 0.5);
    --alto: #dfdfdf;
    --athens-gray: #fbfbfc;
    --black-box-shadow: #000000;
    --black-box-shadow-rgb: 0, 0, 0;
    --black-haze: #f4f6f6;
    --black-squeeze: #f2f8fb;
    --casal: #2b5868;
    --cod-gray: #131313;
    --dove-gray: #616161;
    --downy: #78bed6;
    --firefly: #0d1b28;
    --firefly2: #0c1b28;
    --killarney: #406d3f;
    --la-palma: #2b9617;
    --mine-shaft: #222222;
    --mystic: #e6ecee;
    --neptune: #6ca5b8;
    --pigeon-post: #adccd7;
    --porcelain: #e7eaec;
    --river-bed: #434f5e;
    --shark: #272b31;
    --tiara: #c9d1d4;
    --yellow2: #ff0;
    --sap-green: #3b9918;
    --forest: #196e0c;
    --ocean: #007d91;
    --prussian-blue: #004968;
    --new-orange: #f26e14;
    --leaf: #6fa930;
    --tree-green: #417918;
    --bluish: #2792a0;
    --dusk-blue: #1c6273;
    --soft-black: #282828;
    --lipstick: #db2327;
    --medium-green: #299948;
    --dark-sea-green: #147a44;
    --new-dusk-blue: #24668f;
    --light-navy: #174879;
    --latest-blue: #023a75;
}