@page "/register-user"
@using Web.UI.Server.Models.Security
@inherits RegisterBase
<div class="main-content top-setting">
<div class="setting-item">
    <RadzenTemplateForm TItem="RegisterUser" Data="model" Submit="@OnSubmit">
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="flex-col text-align-center"> Register User</div>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="label">Full Name</div>
                <RadzenTextBox Name="fullName" @bind-Value="model.FullName" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="fullName" Text="Full name is required"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="label">Username</div>
                <RadzenTextBox Name="username" @bind-Value="model.Username" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="username" Text="Username is required"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="label">Password</div>
                <RadzenTextBox type="password" Name="password" @bind-Value="model.Password" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="password" Text="Password is required"></RadzenRequiredValidator>
                    </div>
                </div>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenLengthValidator Component="password" Min="4" Text="Password is at least 4 character " ></RadzenLengthValidator>
                    </div>
                </div>
            </div>
            <div class="flex-col col-Padding">
                <div class="label">ID No</div>
                <RadzenTextBox type="text" Name="idNumber" @bind-Value="model.IdNumber" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="idNumber" Text="IdNumber is required"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="label">Phone Number</div>
                <RadzenTextBox type="text" Name="phoneNumber" @bind-Value="model.PhoneNumber" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="phoneNumber" Text="Phone number is required"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
            <div class="flex-col col-Padding">
                <div class="label">Email</div>
                <RadzenTextBox type="email" Name="email" @bind-Value="model.Email" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenEmailValidator Component="email" Text="Email pattern is not valid"></RadzenEmailValidator>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <RadzenButton ButtonType="ButtonType.Reset" Text="Reset" ButtonStyle="ButtonStyle.Danger"></RadzenButton>
            </div>
            <div class="flex-col col-Padding">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" ButtonStyle="ButtonStyle.Success"></RadzenButton>
            </div>
        </div>
        
    </RadzenTemplateForm>
</div>
</div>