@page "/lab-list"
@inherits LabListBase
<SettingTab></SettingTab>
<div class="main-content top-setting">
    <div class="setting-item">
    <div class="flex-row">
        <div onclick="@OnAdd" class="flex-col  col-Padding text-align-end">
            <img class="button-image" src="image/add.png" alt=""/>
        </div>
    </div>
    @if(labs !=null)
    {
      foreach(var lab in labs)
      {
          <div class="bottom-line">
              <div class="flex-table">
                  <div class="flex-col col-Padding">
                      @lab.Name
                  </div>
                  <div class="flex-table-col">
                      <div onclick="@(() => OnEdit(lab))" class="flex-col  col-Padding ">
                          <img class="button-image" src="image/edit.png" alt=""/>
                      </div>
                      <div onclick="@(() => OnDelete(lab.Id))" class="flex-col  col-Padding ">
                          <img class="button-image" src="image/delete.png" alt=""/>
                      </div>
                  </div>           
              </div>
              </div>
      }
    }
    </div>
    </div>