@using RazorShared.Pages.Settings.Tests;
@inherits LabTestListBase
<SettingTab></SettingTab>

    @if(LabTestDetails !=null)
    {
        @foreach (var test in LabTestDetails)
            {
                <div class="flex-table">
                    <div class="flex-col col-Padding">
                        @test.Name
                    </div>
                    <div class="flex-table-col">
                        <div onclick="@(() => OnEdit(test))" class="flex-col  col-Padding ">
                            <img class="button-image" src="_content/RazorShared/images/edit.png" alt=""/>
                        </div>
                        <AuthorizeView Roles="administrator">
                            <div onclick="@(() => OnDelete(test.Id))" class="flex-col  col-Padding ">
                                <img class="button-image" src="_content/RazorShared/images/delete.png" alt=""/>
                            </div>
                        </AuthorizeView>
                    </div>
                </div>     
            }
    }
