@using RazorShared.Pages.Settings.SampleTypes.Creates;
@using RazorShared.Server.Models.Sample_Type
@inherits CreateSampleTypeBase
<RadzenTemplateForm TItem="SampleType" Data="Model" >
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Name</div>
            <RadzenTextBox Name="name" @bind-Value="Model.Name" Style="width: 100%;"></RadzenTextBox>
            <div class="flex-row">
                <div class="flex-col col-Padding">
                    <RadzenRequiredValidator Component="name" Text="Name is required"></RadzenRequiredValidator>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-col col-Padding">
            <span class="between-text-reset" onclick="@OnReset"> <img class="text-with-button" src="_content/RazorShared/images/reset.png" alt=""/>Reset</span>
        </div>
        <div class="flex-col col-Padding text-align-end">
            <span class="between-text-primary" onclick="@OnSave"> <img class="text-with-button" src="_content/RazorShared/images/save.png" alt=""/>Submit</span>
        </div>
    </div>

</RadzenTemplateForm>