
@using RazorShared.Pages.Settings.LabTestPrices.Creates;
@using RazorShared.Server.Models.TestPrices
@using Microsoft.AspNetCore.Components
@inherits CreateTestPriceBase
<RadzenTemplateForm TItem="TestPrice" Data="Model" >
    <div class="flex-row ">
        <div class="flex-col col-Padding">
            <div class="label">Price</div>
            <RadzenNumeric Name="price" @bind-Value="Model.Price" Style="width: 100%;"></RadzenNumeric>
            <div class="flex-row">
                <div class="flex-col col-Padding">
                    <RadzenRequiredValidator Component="price" Text="Price is required"></RadzenRequiredValidator>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col col-Padding">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Tests</RadzenText>
            <RadzenDropDown Name="test" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@LabTestDetails @bind-Value=@Model.LabTestId
                            TextProperty="Name" ValueProperty="Id" Style="width: 100%;"/>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <RadzenRequiredValidator Component="test" Text="Test is required"></RadzenRequiredValidator>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col col-Padding">
            <span class="between-text-reset" onclick="@OnReset"> <img class="text-with-button" src="_content/RazorShared/images/reset.png" alt=""/>Reset</span>
        </div>
        <div class="flex-col col-Padding text-align-end">
            <span class="between-text-primary" onclick="@OnSave"> <img class="text-with-button" src="_content/RazorShared/images/save.png" alt=""/>Submit</span>
        </div>
    </div>

</RadzenTemplateForm>