@page "/info"
@using SharedComponent.Server.Models.Organizations
@using Microsoft.AspNetCore.Components
@inherits OrganizationBase
<InfoTab></InfoTab>
<div class="main-content top-setting">
    <div class="setting-item">
        @if (IsSpinner)
        {
            <div class="spinner"> </div>
        }
    <RadzenTemplateForm TItem="OrganizationDetail" Data="Model" Submit="@(() => OnSubmit(Model))">
        <div class="flex-row ">
            <div class="flex-col col-Padding">
                <div class="label">Head office location</div>
                <RadzenTextBox Name="location" @bind-Value="Model.Location" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="location" Text="Location is required"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row ">
            <div class="flex-col col-Padding">
                <div class="label">Telephone</div>
                <RadzenTextBox Name="telephone" @bind-Value="Model.Telephone" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="telephone" Text="Telephone is required"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col col-Padding">
                <div class="label">Email</div>
                <RadzenTextBox type="email" Name="email" @bind-Value="Model.Email" Style="width: 100%;"></RadzenTextBox>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenEmailValidator Component="email" Text="Email format is wrong"></RadzenEmailValidator>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row m-bottom">
            <div class="flex-col col-Padding">
                <div class="label">About</div>
                <RadzenTextArea name="about" @bind-Value="Model.About" Rows="8" TValue="string" Style="width: 100%; height: 100%"></RadzenTextArea>
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <RadzenRequiredValidator Component="about" Text="About is required"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-row ">
            <div class="flex-col col-Padding text-align-end">
                <span class="between-text-primary"><button type="submit"><img class="text-with-button" src="_content/SharedComponent/images/save.png" alt=""/>Submit</button> </span>
            </div>
        </div>
    </RadzenTemplateForm>
    </div>
</div>