@inherits AccountBase

<div class="right-header" onclick="@(() => GoTo(1))">
          <span> <img class="text-with-button" src="_content/RazorShared/images/replace.png" alt=""/> Change Password</span>
</div>
<div class="right-header" onclick="@(() => GoTo(2))">
      <span> <img class="text-with-button" src="_content/RazorShared/images/logout.png" alt=""/>  Logout</span>   
        </div>
