@using System.Globalization
@page "/completed-lab-test"
@inherits CompletedLabTestBase
<div class="main-content top">
<div class="content-item">
    @foreach (var item  in _selectedTestDetails)
    {
        <div class="flex-table">
            <div class="flex-col col-Padding">
                @item.PatientName
            </div>
            <div class="flex-col col-Padding">
                Price: @item.Amount.ToString("#,00", CultureInfo.CurrentCulture.NumberFormat)
            </div>
            <div class="flex-table-col">
                <div class="flex-col col-Padding">
                    @item.Date.ToString("dd/MM/yyyy:hh:mm")
                </div>
                <div onclick="@(() => OnDone(@item))" class="flex-col  col-Padding ">
                     <span class="primary-button">Result</span>   
                    </div>
            </div>
        </div>
    
    }
</div>
</div>