@inherits SelectCategoryBase

@foreach (var (_, item)  in ViewModels)
{
    <div class="flex-row">
        <div class="flex-col col-Padding">
            <div class="text">
                <span style="padding-left: 10px">
                    @item.Name
                </span>
                <span style="padding-left: 10px">
                    Price: @item.Price
                </span>
            </div>
        </div>
        <div class="flex-col col-Padding">
            <div onclick="@(() =>  Remove(item))" class="flex-col  col-Padding ">
                <img class="button-remove" src="image/remove.png" alt="" />
            </div>
        </div>
    </div>
    
}
