@inherits TestListBase
@if (Category != null)
{
    <div class="flex-row">
        <div class="flex-col col-Padding">
            @foreach (var test in Category.LabTests)
            {
                var selected = SelectedLabTests.Contains(test.Id);
                if (selected)
                {
                    test.Selected = true;
                }
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <div class="text">

                            <RadzenCheckBox TValue="bool" TriState="true" @bind-Value="test.Selected" Change=@(args => OnChange(Category, test)) style="padding-right: 10px"></RadzenCheckBox>
                            <span style="padding-left: 10px">
                                @test.Name
                            </span>
                            <span style="padding-left: 10px">
                                Price: @test.Price
                            </span>
                        </div>
                    </div>
                    <div class="flex-col col-Padding">
                        <div class="button">
                            <RadzenButton Text="Add to order" ButtonStyle="ButtonStyle.Success" Click="@(() => OnSelect(Category, test))"></RadzenButton>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
