@page "/payment-options"
@inherits PaymentOptionsBase
<div class="main-content top-setting">
           <div class="content-item">
                   <div class="bottom-line">
                       <div class="flex-row">
                           <div class="flex-col col-Padding">
                               <div class="category">
                                   Tele birr
                               </div>
                           </div>
                       </div>
                   </div>
               <div class="flex-row">
                   <div class="flex-col col-Padding">
                       <div class="text">
                           <span style="padding-left: 10px">
                               Tele birr is money transfer option from Ethiopian Telecom
                           </span>
                       </div>
                   </div>
               </div>
               <div class="flex-row">
                   <div class="flex-col col-Padding" style="padding-left:28px">
                    <span style="color:lightcoral"> Total payment :@TotalPrice</span>
                   </div>
               </div>
               <div class="flex-row">
                   <div class="flex-col col-Padding">
                       <div onclick="@OnBack" class="flex-col  col-Padding ">
                           <img class="button-image" src="image/back.png" alt=""/>
                       </div>
                   </div>
                   <div class="flex-col col-Padding">
                           <div onclick="@OnSubmit" class="flex-col  col-Padding">
                               <span class="primary-button">Confirm</span>  
                           </div>
                       </div>
               </div>
           </div>
</div>