@using Microsoft.AspNetCore.Components
@using Web.UI.Server.Models.Categories
@using Web.UI.Server.Models.LabTests
@using Web.UI.Server.Models.Sample_Type
@inherits EditSampleTypeBase
<RadzenTemplateForm TItem="LabTestDetail" Data="model" Submit="@OnSave">
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Name</div>
            <RadzenTextBox Name="name" @bind-Value="model.Name" Style="width: 100%;"></RadzenTextBox>
            <div class="flex-row">
                <div class="flex-col col-Padding">
                    <RadzenRequiredValidator Component="name" Text="Name is required"  ></RadzenRequiredValidator>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Category</div>
            <RadzenDropDown AllowClear="true"  Style="width: 100%;" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@categoryDetails @bind-Value=@model.CategoryId
                            TextProperty="Name" ValueProperty="Id"/>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Sample Type</div>
            <RadzenDropDown Multiple="true" Chips="true"  Style="width: 100%;" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@SampleTypeDetails @bind-Value=@model.SampleTypeId
                            TextProperty="Name" ValueProperty="Id"/>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Tube Type</div>
            <RadzenDropDown Multiple="true"  Style="width: 100%;" Chips="true" MaxSelectedLabels="100" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@TubeDetails @bind-Value=@model.TubeTypeId
                            TextProperty="Name" ValueProperty="Id"/>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Description</div>
            <RadzenTextArea TValue="string" @bind-Value="@model.Description"  Style="width: 100%;"></RadzenTextArea>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            Is Fasting Required <RadzenCheckBox TValue="bool" @bind-Value="@model.IsFastingRequired" style="padding-left: 10px"></RadzenCheckBox>
             <span style="margin-left: 10px"></span>  Is Active <RadzenCheckBox TValue="bool" @bind-Value="@model.IsActive" style="padding-left: 10px"></RadzenCheckBox>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
         
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <RadzenButton ButtonType="ButtonType.Reset" Text="Reset" ButtonStyle="ButtonStyle.Danger" Click="OnReset"></RadzenButton>
        </div>
        <div class="flex-col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" ButtonStyle="ButtonStyle.Success"></RadzenButton>
        </div>
    </div>

</RadzenTemplateForm>