@using Microsoft.AspNetCore.Components
@using Web.UI.Server.Models.TestPrices
@inherits EditTestPriceBase
<RadzenTemplateForm TItem="TestPriceDetail" Data="model" Submit="@OnSave">
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <div class="label">Price</div>
            <RadzenNumeric Name="price" @bind-Value="model.Price" Style="width: 100%;"></RadzenNumeric>
            <div class="flex-row">
                <div class="flex-col col-Padding">
                    <RadzenRequiredValidator Component="price" Text="Price is required"></RadzenRequiredValidator>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3"> Tests</RadzenText>
            <RadzenDropDown Name="test" AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data=@labTestDetails @bind-Value=@model.LabTestId
                            TextProperty="Name" ValueProperty="Id" Style="width: 100%;" />
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col col-Padding">
            <RadzenRequiredValidator Component="test" Text="Test is required"></RadzenRequiredValidator>
        </div>
    </div>
    <div class="flex-row m-bottom">
        <div class="flex-col col-Padding">
            Is Active  <RadzenCheckBox TValue="bool" @bind-Value="model.IsActive" style="padding-left: 10px"></RadzenCheckBox>
        </div>
    </div>
    <div class="flex-row">
        <div class="flex-col">
            <RadzenButton ButtonType="ButtonType.Reset" Text="Reset" ButtonStyle="ButtonStyle.Danger" Click="OnReset"></RadzenButton>
        </div>
        <div class="flex-col">
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" ButtonStyle="ButtonStyle.Success"></RadzenButton>
        </div>
    </div>

</RadzenTemplateForm>