
@inherits LabTestListBase
<SettingTab></SettingTab>

    @if(labTestDetails !=null)
    {
        @foreach (var test in labTestDetails)
            {
                <div class="flex-table">
                    <div class="flex-col col-Padding">
                        @test.Name
                    </div>
                    <div class="flex-table-col">
                        <div onclick="@(() => OnEdit(test))" class="flex-col  col-Padding ">
                            <img class="button-image" src="image/edit.png" alt=""/>
                        </div>
                        <div onclick="@(() => OnDelete(test.Id))" class="flex-col  col-Padding ">
                            <img class="button-image" src="image/delete.png" alt=""/>
                        </div>
                    </div>
                </div>     
            }
    }
