@page "/lab-test-list"
@inherits LabTestContainerBase
<div class="main-content top-setting">
<div class="setting-item">
    <div class="flex-row">
        <div onclick="@OnAdd" class="flex-col  col-Padding text-align-end">
            <img class="button-image" src="image/add.png" alt=""/>
        </div>
    </div>
    @if(labTestDetails !=null)
    {
        foreach(var group in labTestDetails.GroupBy(x=>x.CategoryId).ToList())
        {
            var category = group.First();
            <div class="bottom-line" >
                <div class="flex-row">
                    <div class="flex-col col-Padding">
                        <div class="category">
                            @category.Category
                        </div>
                        
                    </div>
                    @* <div class="@(Expanded ? "arrow down" : "arrow up")"></div> *@
                    
                </div>
            </div>
                @* @if (Expanded) *@
                @* { *@
            <LabTestList ChangesAsync="@ChangesAsync" labTestDetails="group.ToList()"></LabTestList>   
                @* } *@



        }
    }
</div>
</div>