name: publish 

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Restore dependencies
      run: dotnet restore ./src/Health_Services.sln

    - name: Build project
      run: dotnet build ./src/Health_Services.sln --configuration Release --no-restore

    - name: Publish project
      run: dotnet publish ./src/Health_Services.sln --configuration Release --no-build
