@page "/payment-options"
@using RazorShared.Pages.PaymentOptions;
@inherits PaymentOptionsBase
<div class="main-content top-setting">
    <div class="content-item">
        <div class="flex-row">
            <div onclick="@OnBack" class="flex-col  col-Padding ">
                <span class="between-text-button"> <img class="text-with-button" src="_content/RazorShared/images/back.png" alt=""/>Back</span>
            </div>
        </div>
        <div class="test-grid-col-one">
            <div class="test-card">
                <div class="test-name">
                    Tele birr
                </div>
                <div class="test-name">
                    Tele birr is money transfer option from Ethiopian Telecom
                </div>
                <div class="test-price">
                    <span style="color:lightcoral"> Total payment :@TotalPrice</span>
                </div>
                <div class="test-button">
                    <div>
                        <span class="between-text-primary" onclick="@(() => OnSubmit(1))"> <img class="text-with-button" src="_content/RazorShared/images/check.png" alt=""/>Submit</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="test-grid-col-one">
            <div class="test-card">
                <div class="test-name">
                    Commercial Bank
                </div>
                <div class="test-name">
                   Transfer your money to 1000000 of commercial bank
                </div>
                <div class="test-price">
                    <span style="color:lightcoral"> Total payment :@TotalPrice</span>
                </div>
                <div class="test-button">
                    <div>
                    <span class="between-text-primary" onclick="@(() => OnSubmit(2))"> <img class="text-with-button" src="_content/RazorShared/images/check.png" alt=""/>Submit</span>
                    </div>
                </div>
            </div>
        
        </div>
        
    </div>
</div>